header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.img-header-photo {
    width: 16em;
    height: 25em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: auto;
}


/*-----------CTA--------------*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/*-----------HeaderSocials--------------*/

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 24rem;
    bottom: 1rem;
    font-size: 1.75rem;
}

.header_socials::after {
    content: "";
    width: 5px;
    height: 3rem;
    background: var(--color-primary);
}