* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #efedd6;
  /* Gets rid of the horizontal content box*/
  overflow-x: hidden;
}
