* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #efedd6;
  /* Gets rid of the horizontal content box*/
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(300%);
  transition: transform 0.4s ease;
}

/* Evens on the right versus on the left */
.box:nth-of-type(even) {
  transform: translateX(-300%);
}

/* Default Setting */
.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
